<a href="https://colab.research.google.com/github/samuxlh/python_classes/blob/main/covid_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Hello! My name is Sam. This is my code.

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
df = pd.read_csv('https://covid19.who.int/WHO-COVID-19-global-table-data.csv', sep=',', index_col=False)

In [ ]:
df.head()

                       Name  ... Deaths - newly reported in last 24 hours
0                    Global  ...                                     8096
1  United States of America  ...                                     1959
2                     India  ...                                      282
3                    Brazil  ...                                      485
4        The United Kingdom  ...                                      166

[5 rows x 12 columns]

In [ ]:
americas = df[df["WHO Region"] == "Americas"]
cumulative_cases = americas["Cases - cumulative total"]

1      42163561
3      21247094
9       5243231
10      4943622
15      3585565
20      2168431
26      1648550
27      1585732
40       825351
52       533744
54       513384
56       507020
57       497676
60       464781
61       459695
67       387922
69       360598
70       357322
71       356042
92       179593
111      102024
117       80959
125       52463
127       48826
131       40685
132       39239
133       38137
140       29824
143       21453
146       20288
152       18902
155       16150
156       15305
169       10757
170       10727
175        6736
177        6557
187        4632
188        4356
189        4146
192        3740
195        3134
197        2964
198        2813
199        2676
200        2603
202        1945
203        1718
204        1624
208         787
212         350
214          67
215          33
216          31
218          24
220          11
Name: Cases - cumulative total, dtype: int64